.footer {

}

.footer__container {
    display: flex;
    justify-content: space-between;

    padding: 40px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts {
    width: 50%;
}
.footer-contacts__logo {
    margin-bottom: 50px;
}
.footer-contacts__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 15px;
}
.footer-contacts__text {
    text-decoration: underline;

    &:first-child {
        margin-bottom: 10px;
    }
}

.footer__nav {
    width: 40%;
}

.footer-nav {
    display: flex;
    gap: 100px;
}
.footer-nav__block {
    display: flex;
    flex-direction: column;

}
.footer-nav__title {
    margin-bottom: 55px;

    position: relative;

    &::before {
        content: "";
        background-color: var(--accent-color);
        width: 10px;
        height: 10px;
        border-radius: 50%;

        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.footer-nav__item {
    font-size: 16px;
}

.footer__author {
    color: var(--blue-accent-color);
}

.logo{
    color: var(--secondary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    animation: loading 2s linear infinite;
}

.logo span{
    color: var(--accent-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}