.basket-routes {
    display: flex;
    flex-direction: column;
}

.basket-route {
    padding-block: 20px;

    &:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

// Компонент BasketRoutePath
.basket-route-path {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 40px;
}

.basket-route-path__container {
    display: flex;
    gap: 10px;
    overflow-x: auto;

    &--column {
        flex-direction: column;
    }

    &::-webkit-scrollbar {
        height: 4px;
        background-color: #f0f0f0; /* blue */
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: #e2e2e2; /* green */
        border-radius: 9em;
    }
}

.basket-route-path__flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    min-width: 75px;
    text-align: center;

    p {
        font-size: 12px;
        word-wrap: break-word;
        white-space: pre-line;
    }
}

.basket-route-path__line-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    p {
        position: absolute;
        top: 20%;

        font-size: 12px;
    }
}

.basket-route__price-total {
    font-weight: bold;
    text-align: end;
    margin-top: 10px;
}

.basket-route-path__line {
    max-width: 130px;
}

.path-not-found {
    font-weight: bold;
    font-size: 20px;
    margin-block: 25px;
    text-align: center;
}