.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.banner__container {
    display: flex;
    gap: 10px;
}

.banner__img-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;    

    background-color: #fff;
    border-radius: var(--border-radius);

    height: 100%;
    position: relative;

    overflow: hidden;

    &--primary {
        width: 800px;
        height: 440px;
        padding: 0 0 40px 40px;
    }

    &--secondary {
        width: 400px;
        // height: 225px;
        padding: 16px 0 0 20px;

        justify-content: flex-start;

        img {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 280px;
        }

        h2 {
            font-size: 24px;
        }
    }
}

.banner__img-group {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 0;
}

.banner__img-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner__img {
    &--primary {
        &--first {
            height: 300px;
        }
        &--second {
            height: 400px;
        }
    }
}

.banner__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 30px;
    z-index: 1;
}

.banner__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    z-index: 1;
}


// Animations
.money-icon {
    animation-name: money;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes money {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

.hands-icon {
    animation-name: hands;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    transform-origin: 100% 50%;
}

@keyframes hands {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}