.ModalAuth {
    padding: 30px;
}

.notAccount {
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.notAccount span {
    color: #468efc;
    cursor: pointer;
}

.agreement {
    color: var(--border-color);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 350px;
    margin-top: 12px;
}

.agreement a {
    text-decoration: underline;
}

.MpInput {
    display: flex;
    width: 350px;
    height: 48px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background: var(--background-color-input);
    caret-color: var(--border-color);
    outline-color: var(--border-color);
    transition: all 0.5s;
    margin-top: 8px;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.MpInput:focus {
    background: var(--main-window);
}

.MpInputErrorBorder {
    border-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 16px;
}

.MpInputError {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MpInput + .MpInputError {
    margin-top: 3px;
    margin-bottom: 13px;
}

.MpInput:not(:placeholder-shown) {
    background: var(--main-window);
}

.ModalAuth__title {
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Форма смены пароля */
.change-form {
    background-color: white;

    border-radius: var(--border-radius);

    margin-top: 100px;
    width: 100%;

    h2 {
        margin-top: 0;
    }

    button {
        width: fit-content;
        font-weight: bold;
    }
}
.change-form__label {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

// Форма отзыва
.rate-form {
    display: flex;
    flex-direction: column;
    // gap: 10px;

    background-color: white;

    width: 530px;
    padding: 20px 30px;
    
    h2 {
        font-size: 32px;
    }

    textarea,
    button {
        width: 100%;
    }
}

.title {
    margin: 0;
}

.input-rate-container {
    display: flex;
    // gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;

    &--rate {
        padding: 15px 0;
        gap: 10px;
    }
}

.input-rate {
    display: none;
}

.label-rate {
    cursor: pointer;
}

.input {
    width: 100%;
}



.active {
    color: var(--accent-color);
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
.noActive {
    color: #F2F2F2;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}




.cancel-form__label {
    align-self: flex-start;
}

.cancel-form__input-container {
    align-items: center;
    margin-top: 20px;
}

.button-cancel {
    width: 100%;
}



.city-select-form__input-container {
    label {
        margin: 16px 0 10px 0;
    }

    button {
        margin-top: 24px;
    }
}


@media (max-width: 576px) {
    .rate-form{
        width: 100%;
    }
}